.landing-page-container {
  min-height: 100vh;
}
.landing-page-landing-page {
  width: 100%;
  height: 7197px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.landing-page-i-m-a-g-e-maskgroupneedstouseautolayout {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 4px;
}
.landing-page-i-m-a-g-e-desktop1needstouseautolayout {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 4px;
}
.landing-page-landing-page1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 7068px;
  display: flex;
  padding: 0 0 814px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.landing-page-maskgroup {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.landing-page-desktop1 {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(247, 237, 237, 1);
  border-style: solid;
  border-width: 1px;
  background-image: linear-gradient(148deg, rgba(131, 255, 225, 1) 0%, rgba(48, 16, 18, 1) 71%);
}
.landing-page-rectangle2 {
  top: 258px;
  left: 115px;
  width: 323px;
  height: 550px;
  position: absolute;
  border-color: transparent;
  border-radius: 111px;
}
.landing-page-rectangle4 {
  top: 267px;
  left: 981px;
  width: 326px;
  height: 541px;
  position: absolute;
  border-color: transparent;
  border-radius: 111px;
}
.landing-page-rectangle5 {
  top: 267px;
  left: 550px;
  width: 328px;
  height: 541px;
  position: absolute;
  border-color: transparent;
  border-radius: 111px;
}
.landing-page-group6 {
  top: 829.2928466796875px;
  left: 115px;
  width: 323.4814453125px;
  height: 42.49285888671875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-text {
  top: 5.665714263916016px;
  left: 5.725335597991943px;
  color: rgba(252, 240, 240, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-rectangle6 {
  top: 0px;
  left: 0px;
  width: 316px;
  height: 42px;
  position: absolute;
  border-color: rgba(242, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
}
.landing-page-group7 {
  top: 829.2928466796875px;
  left: 503.36859130859375px;
  width: 395.04815673828125px;
  height: 50.04714584350586px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-text002 {
  top: 7.554285526275635px;
  color: rgba(241, 229, 229, 1);
  width: 395px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-rectangle7 {
  top: 0px;
  left: 46.75690460205078px;
  width: 338px;
  height: 43px;
  opacity: 0.33;
  position: absolute;
  border-color: rgba(248, 239, 239, 0.9900000095367432);
  border-style: solid;
  border-width: 3px;
}
.landing-page-group3 {
  top: 823.6271362304688px;
  left: 945px;
  width: 427px;
  height: 64.37286376953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-text004 {
  top: 14.37286376953125px;
  color: rgba(253, 239, 239, 1);
  width: 427px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-rectangle8 {
  top: 0px;
  left: 36.43408203125px;
  width: 343px;
  height: 47px;
  opacity: 0.26;
  position: absolute;
  border-color: rgba(255, 248, 248, 1);
  border-style: solid;
  border-width: 3px;
}
.landing-page-group4 {
  top: 879.3400268554688px;
  left: 173.20758056640625px;
  width: 187.02761840820312px;
  height: 39.65999984741211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle9 {
  top: 0px;
  left: 14.313339233398438px;
  width: 162px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.landing-page-text006 {
  top: 8.498571395874023px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-group2 {
  top: 879.3400268554688px;
  left: 1051.09228515625px;
  width: 187.02761840820312px;
  height: 39.65999984741211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle10 {
  top: 0px;
  left: 12.404892921447754px;
  width: 162px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.landing-page-text008 {
  top: 8.498571395874023px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-group5 {
  top: 879.3400268554688px;
  left: 620.7379760742188px;
  width: 187.02761840820312px;
  height: 39.65999984741211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle11 {
  top: 0px;
  left: 14.313338279724121px;
  width: 162px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.landing-page-text010 {
  top: 8.498571395874023px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-group10 {
  top: 135px;
  left: 66px;
  width: 226px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle12 {
  top: 0px;
  left: 22.153846740722656px;
  width: 176px;
  height: 45px;
  position: absolute;
  border-color: rgba(48, 16, 243, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-text012 {
  top: 9px;
  color: rgba(0, 0, 0, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-group9 {
  top: 135px;
  left: 282px;
  width: 199px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle13 {
  top: 2.2737367544323206e-13px;
  left: 0.33340758085250854px;
  width: 199px;
  height: 45px;
  position: absolute;
  border-color: rgba(55, 9, 242, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-text014 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-group11 {
  top: 68px;
  left: 1170px;
  width: 242px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-rectangle14 {
  top: 0px;
  left: 0px;
  width: 196px;
  height: 58px;
  position: absolute;
  border-color: rgba(50, 17, 249, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-text016 {
  top: 14px;
  left: 14px;
  color: rgba(245, 239, 239, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-screenshot44removebgpreview1 {
  top: -86px;
  left: 489px;
  width: 530px;
  height: 385px;
  position: absolute;
  border-color: transparent;
}
.landing-page-line4 {
  top: 230px;
  left: 0px;
  width: 1440px;
  height: 0px;
  position: absolute;
}
.landing-page-group13 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text018 {
  top: 19px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text020 {
  top: 19px;
  left: 196px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text022 {
  top: 19px;
  left: 1239px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text024 {
  top: 19px;
  left: 1028px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview1 {
  top: 19px;
  left: 981px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo {
  top: 18px;
  left: 1208px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle21 {
  top: 48px;
  left: 88px;
  width: 393px;
  height: 58px;
  position: absolute;
  border-color: rgba(72, 30, 243, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-text026 {
  top: 56px;
  left: 114px;
  color: rgba(0, 0, 0, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-l-c {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  background-image: linear-gradient(129deg, rgba(130, 245, 204, 1) 0%, rgba(16, 31, 26, 0.5729166865348816) 43%, rgba(242, 243, 192, 0.2700985074043274) 91%, rgba(255, 255, 255, 0) 100%);
}
.landing-page-group131 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text028 {
  top: 18px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text030 {
  top: 18px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text032 {
  top: 18px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text034 {
  top: 18px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview11 {
  top: 18px;
  left: 991px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo1 {
  top: 17px;
  left: 1218px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle23 {
  top: 161px;
  left: 277px;
  width: 856px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-component1 {
  top: 161px;
  left: 277px;
  width: 856px;
  height: 728px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.landing-page-gr5825x7281 {
  top: 0px;
  left: 0px;
  width: 857px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-gr4825x7281 {
  top: 0px;
  left: 1114.2489013671875px;
  width: 857px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-gr2825x7281 {
  top: 0px;
  left: 2228.497802734375px;
  width: 857px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-gr1825x7281 {
  top: 0px;
  left: 3342.74658203125px;
  width: 857px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle26 {
  top: 42px;
  left: 500px;
  width: 365px;
  height: 56px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.landing-page-text036 {
  top: 52px;
  left: 520px;
  color: rgba(40, 21, 21, 1);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-h11 {
  top: 17px;
  left: 37px;
  width: 43px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.landing-page-l-x {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  background-image: linear-gradient(129deg, rgba(130, 245, 204, 1) 0%, rgba(16, 31, 26, 0.5729166865348816) 43%, rgba(242, 243, 192, 0.2700985074043274) 91%, rgba(255, 255, 255, 0) 100%);
}
.landing-page-group132 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text038 {
  top: 18px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text040 {
  top: 18px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text042 {
  top: 18px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text044 {
  top: 18px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview12 {
  top: 18px;
  left: 991px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo2 {
  top: 17px;
  left: 1218px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle231 {
  top: 132px;
  left: 314px;
  width: 825px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle261 {
  top: 29px;
  left: 542px;
  width: 365px;
  height: 56px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.landing-page-text046 {
  top: 39px;
  left: 562px;
  color: rgba(40, 21, 21, 1);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-component2 {
  top: 132px;
  left: 314px;
  width: 825px;
  height: 728px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.landing-page-lx1825x7281 {
  top: 0px;
  left: 0px;
  width: 825px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-lx3825x7281 {
  top: 0px;
  left: 986px;
  width: 825px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-lx2825x7281 {
  top: 0px;
  left: 1972px;
  width: 825px;
  height: 728px;
  position: absolute;
  border-color: transparent;
}
.landing-page-h111 {
  top: 17px;
  left: 25px;
  width: 43px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.landing-page-frame4d {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  background-image: linear-gradient(129deg, rgba(130, 245, 204, 1) 0%, rgba(16, 31, 26, 0.5729166865348816) 43%, rgba(242, 243, 192, 0.2700985074043274) 91%, rgba(255, 255, 255, 0) 100%);
}
.landing-page-group133 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text048 {
  top: 18px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text050 {
  top: 18px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text052 {
  top: 18px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text054 {
  top: 18px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview13 {
  top: 18px;
  left: 991px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo3 {
  top: 17px;
  left: 1218px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle232 {
  top: 104px;
  left: 186px;
  width: 1067px;
  height: 794px;
  position: absolute;
  border-color: transparent;
}
.landing-page-h112 {
  top: 17px;
  left: 18px;
  width: 43px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.landing-page-component3 {
  top: 104px;
  left: 186px;
  width: 1067px;
  height: 794px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.landing-page-i-m-a-g-e4d31 {
  top: 0px;
  left: 0px;
  width: 1067px;
  height: 794px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e4d41067x7941 {
  top: 0px;
  left: 1347px;
  width: 1067px;
  height: 794px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e4d11067x7941 {
  top: 0px;
  left: 2694px;
  width: 1067px;
  height: 794px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e4d21 {
  top: 0px;
  left: 4041px;
  width: 1067px;
  height: 794px;
  position: absolute;
  border-color: transparent;
}
.landing-page-group14 {
  top: 17px;
  left: 602px;
  width: 236px;
  height: 56px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.landing-page-text056 {
  top: 10px;
  left: 20px;
  color: rgba(40, 21, 21, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-login-page {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(204, 22, 22, 1);
  border-style: solid;
  border-width: 1px;
  background-image: linear-gradient(123deg, rgba(160, 237, 233, 1) 0%, rgba(255, 255, 255, 0) 95%);
}
.landing-page-rectangle15 {
  top: 152px;
  left: 494px;
  width: 405px;
  height: 697px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 45px;
}
.landing-page-text058 {
  top: 188px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text060 {
  top: 276px;
  left: 577px;
  color: rgba(255, 255, 255, 1);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text062 {
  top: 399px;
  left: 577px;
  color: rgba(255, 255, 255, 1);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-rectangle17 {
  top: 453px;
  left: 564px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-rectangle18 {
  top: 527px;
  left: 623px;
  width: 148px;
  height: 44px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 70px;
}
.landing-page-text064 {
  top: 531px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-group12 {
  top: 664px;
  left: 504px;
  width: 385px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landing-page-text066 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-rectangle19 {
  top: 35px;
  left: 106px;
  width: 173px;
  height: 43px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}
.landing-page-text071 {
  top: 617px;
  left: 664px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-screenshot44removebgpreview2 {
  top: -187px;
  left: 150px;
  width: 1127px;
  height: 1200px;
  opacity: 0.41;
  position: absolute;
  border-color: transparent;
}
.landing-page-group134 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text073 {
  top: 18px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text075 {
  top: 18px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text077 {
  top: 18px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text079 {
  top: 18px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview14 {
  top: 18px;
  left: 991px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo4 {
  top: 17px;
  left: 1218px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-rectangle16 {
  top: 347px;
  left: 564px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-h113 {
  top: 27px;
  left: 26px;
  width: 43px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.landing-page-sign-up-page {
  top: 5221px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(149deg, rgba(102, 243, 217, 1) 0%, rgba(213, 248, 169, 0.5572916865348816) 44%, rgba(255, 255, 255, 0) 100%);
}
.landing-page-rectangle151 {
  top: 163px;
  left: 505px;
  width: 405px;
  height: 697px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 45px;
}
.landing-page-text081 {
  top: 186px;
  left: 608px;
  color: rgba(66, 30, 30, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-rectangle161 {
  top: 328px;
  left: 556px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-rectangle171 {
  top: 424px;
  left: 556px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-rectangle191 {
  top: 610px;
  left: 556px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-rectangle25 {
  top: 755px;
  left: 617px;
  width: 146px;
  height: 36px;
  position: absolute;
  border-color: rgba(131, 63, 63, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-rectangle181 {
  top: 513px;
  left: 556px;
  width: 265px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.landing-page-text083 {
  top: 279px;
  left: 526px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text085 {
  top: 374px;
  left: 545px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text087 {
  top: 565px;
  left: 537px;
  color: rgba(255, 255, 255, 1);
  width: 269px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text089 {
  top: 469px;
  left: 537px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-rectangle24 {
  top: 690px;
  left: 550px;
  width: 27px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.landing-page-text091 {
  top: 690px;
  left: 587px;
  color: rgba(255, 255, 255, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-text093 {
  top: 755px;
  left: 634px;
  color: rgba(0, 0, 0, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Besley;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landing-page-group135 {
  top: 947px;
  left: 0px;
  width: 1440px;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(182, 210, 208, 1);
}
.landing-page-text095 {
  top: 18px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text097 {
  top: 18px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text099 {
  top: 18px;
  left: 1249px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text101 {
  top: 18px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-i-m-a-g-e51613572767cozydzabu1removebgpreview15 {
  top: 18px;
  left: 991px;
  width: 47px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landing-page-i-m-a-g-e84842741facebooklogoblackfacebookficonsvgremo5 {
  top: 17px;
  left: 1218px;
  width: 23px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.landing-page-h114 {
  top: 27px;
  left: 54px;
  width: 43px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
